@model NetCommunitySolution.Web.Models.Customers.ChangePasswordModel
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_TopicLayout.cshtml";
}

<div class="page change-password-page">
    <div class="page__bd">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "weui-cells_form", @id = "change-password-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="weui-cells__title">

            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">@Html.WELabelFor(model => model.OldPassword)</label></div>
                <div class="weui-cell__bd">
                    @Html.WEPasswordFor(model => model.OldPassword, "原密码")
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>

            <div class="weui-cells__title">

            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">@Html.WELabelFor(model => model.NewPassword)</label></div>
                <div class="weui-cell__bd">
                    @Html.WEPasswordFor(model => model.NewPassword, "新密码")
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">@Html.WELabelFor(model => model.ConfirmNewPassword)</label></div>
                <div class="weui-cell__bd">
                    @Html.WEPasswordFor(model => model.ConfirmNewPassword, "确认密码")
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>
            <div class="weui-cells__title">

            </div> 
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
            <input type="submit" class="weui-btn weui-btn_primary" value="保存" />
        }
    </div>
</div>

