@model NetCommunitySolution.Web.Areas.Admin.Models.Customers.CustomerRateModel
@{
    ViewBag.Title = "用户费率设置";
    ViewBag.ActiveMenu = "Customer"; //The menu item will be active for this page.
    ViewBag.ActiveItem = "Customer-List"; //The menu item will be active for this page.
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "rate-form", @class = "layui-form" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>用户费率设置</legend>
    </fieldset>
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-md-offset9">
            <a class="layui-btn layui-btn-warm" href="@Url.Action("Index")">返回列表</a>
            <button type="submit" name="save" class="layui-btn layui-btn-normal">
                <i class="fa fa-floppy-o"></i>
                保存费率
            </button>
        </div>
    </div>

    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)


    <div class="product-page">
        <div class="layui-tab layui-tab-brief">

            <div class="layui-form-item">
                @Html.LayUiLabelFor(model => model.Payment)
                <div class="layui-input-block">
                    @Html.LayUiEditorFor(model => model.Payment)
                </div>
            </div>
            <div class="layui-form-item">
                @Html.LayUiLabelFor(model => model.Rate)
                <div class="layui-input-block">
                    @Html.LayUiEditorFor(model => model.Rate)
                </div>
            </div>
        </div>
    </div>



    <script>
        layui.use('form', function () {
            var form = layui.form;
            //各种基于事件的操作，下面会有进一步介绍
            form.render();
        });

        $("#rate-form").validate({
            rules: {
                @Html.FieldIdFor(model=>model.Payment):{
                required: true,
                min:@(Model.MinPayment)
            },
             @Html.FieldIdFor(model=>model.Rate):{
                required: true,
                min:@(Model.MinRate)
            }
            }
        });
    </script>
}


