@model NetCommunitySolution.Web.Areas.Admin.Models.Products.ProductModel

<div class="layui-form-item">
    @Html.LayUiLabelFor(model => model.Name)
    <div class="layui-input-block">
        @Html.LayUiEditorFor(model => model.Name)
    </div>
</div>

<div class="layui-form-item">
    @Html.LayUiLabelFor(model => model.ProductCode)
    <div class="layui-input-block">
        @Html.LayUiEditorFor(model => model.ProductCode)
    </div>
</div>

<div class="layui-form-item">
    @Html.LayUiLabelFor(model => model.CategoryId)
    <div class="layui-input-block">
        @Html.LayuiDropDownListFor(model => model.CategoryId, Model.AvailableCategories)
    </div>
</div>

<div class="layui-form-item">
    @Html.LayUiLabelFor(model => model.StockQuantity)
    <div class="layui-input-block">
        @Html.LayUiEditorFor(model => model.StockQuantity)
    </div>
</div>


<div class="layui-form-item">
    @Html.LayUiLabelFor(model => model.DisplayOrder)
    <div class="layui-input-block">
        @Html.LayUiEditorFor(model => model.DisplayOrder)
    </div>
</div>

<div class="layui-form-item">
    @Html.LayUiLabelFor(model => model.Published)
    <div class="layui-input-block">
        @Html.LayUiEditorFor(model => model.Published)
    </div>
</div>