@model NetCommunitySolution.Web.Models.Orders.WeChatPaymentModel
@{
    Layout = "~/Views/Shared/_TopicLayout.cshtml";
    Html.AddTitleParts("升级代理");
    @Html.IncludeScript("http://res.wx.qq.com/open/js/jweixin-1.1.0.js")
    @Html.IncludeScript("~/Scripts/jquery.unobtrusive-ajax.min.js")
}


<div class="page-agent">
    <div class="page__hd">
        <h1 class="page__title">升级区域代理</h1>
        <p class="page__desc">享收最低费率</p>
        <p class="page__desc">分最高利润</p>

    </div>
    <div class="page__bd">

        <p>仅需(元)</p>
        <h3>@Model.Total</h3>
        <p>即可享收 @(Model.Rate * 10) ‰ 的交易费,还可以拿到 @((Model.CommonRate - Model.Rate)* 10) ‰的分润.</p>

        @using (Ajax.BeginForm(null, null,
                                                            new AjaxOptions
                                                            {
                                                                HttpMethod = "POST",
                                                                OnSuccess = "SaveOrderSuccess",
                                                            }, new { @class = "weui-cells_form", @id = "agent-form" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Noncestr)
        @Html.HiddenFor(model => model.OrderSn)
        @Html.HiddenFor(model => model.TimeStamp)

        <div class="weui-footer weui-footer_fixed-bottom">

            <input type="submit" value="升级代理" class="weui-btn weui-btn_primary" />
        </div>
}

        <script type="text/javascript">

        function SaveOrderSuccess(result) {
            debugger;
            if (result.OrderId > 0)
                jsApiCall();
        }
            //调用微信JS api 支付
            function jsApiCall()
            {
                WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                @Html.Raw(Model.wxJsApiParam),

                    function (res)
                    {
                        WeixinJSBridge.log(res.err_msg);
                        if (res.err_msg == "get_brand_wcpay_request:ok") {
                            window.location.href = "@Url.Action("Success","Order")";
                        }else{
                            //返回跳转到订单详情页面
                            alert("取消支付");

                        }
                    }
                )
            }

            function callpay()
            {

                if (typeof WeixinJSBridge == "undefined")
                {
                    if (document.addEventListener)
                    {
                        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                    }
                    else if (document.attachEvent)
                    {
                        document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                    }
                }
                else
                {
                    jsApiCall();
                }
            }

        </script>
    </div>

</div>